<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProject.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatroomListServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProject.servlet.ChatroomListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChatroomServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProject.servlet.ChatroomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateChatroomServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProject.servlet.CreateChatroomServlet</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>ChatroomTextServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProject.servlet.ChatroomTextServlet</servlet-class>
  </servlet>
  
      <servlet>
    <servlet-name>TypeInRoomPWServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.groupProject.servlet.TypeInRoomPWServlet</servlet-class>
  </servlet>


 
  

  


  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatroomListServlet</servlet-name>
    <url-pattern>/chatroomList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChatroomServlet</servlet-name>
    <url-pattern>/chatroom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateChatroomServlet</servlet-name>
    <url-pattern>/createChatroom</url-pattern>
  </servlet-mapping>


     <servlet-mapping>
    <servlet-name>ChatroomTextServlet</servlet-name>
    <url-pattern>/chatroomText</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>TypeInRoomPWServlet</servlet-name>
    <url-pattern>/typeInRoomPW</url-pattern>
  </servlet-mapping>
  

  

</web-app>
